## What is a Database?

A database is an organized collection of data that allows:
- Efficient storage
- Easy retrieval
- Secure management of data

Databases are used in:
- Websites
- Mobile apps
- Data analysis
- Enterprise systems

## Why Databases Instead of Files?

Problems with files:
- Data duplication
- No structure
- Difficult searching
- No concurrency control

Databases solve these problems.

## What is SQL?

SQL (Structured Query Language) is used to:
- Create database objects
- Insert data
- Retrieve data
- Update data
- Delete data

## Types of SQL Commands

- DDL (Data Definition Language)
  - CREATE
  - DROP
  - ALTER

- DML (Data Manipulation Language)
  - INSERT
  - UPDATE
  - DELETE

- DQL (Data Query Language)
  - SELECT

## What is SQLite?

SQLite is a lightweight database:
- No server required
- Stored as a single file
- Easy to use with Python

## SQLite vs Other Databases

SQLite is best for:
- Learning
- Prototyping
- Small applications

Not ideal for:
- Large concurrent systems

## sqlite3 Module in Python

Python provides sqlite3 module to work with SQLite databases.

Main steps:
1. Connect to database
2. Create cursor
3. Execute SQL
4. Commit changes
5. Close connection

In [60]:
# Import sqlite3 module
import sqlite3

# Connect to SQLite database file
connection = sqlite3.connect("school.db") #creates a database file if it doesnt exist

# Create cursor object
cursor=connection.cursor()

## Creating Tables

Tables consist of:
- Columns
- Data types

Common SQLite data types:
- INTEGER
- TEXT
- REAL

In [61]:
# Write SQL query to create table named students
# Columns:
# id -> integer primary key
# name -> text
# age -> integer
# course -> text
create_table_query="""
CREATE TABLE IF NOT EXISTS students(
id INTEGER PRIMARY KEY,
name TEXT,
age INTEGER,
course TEXT
)
"""


# Execute create table query
cursor.execute(create_table_query)

## IF NOT EXISTS

This prevents errors if table already exists.

In [53]:
# Modify create table query using IF NOT EXISTS

## Inserting Records

INSERT INTO is used to add data into table.

In [62]:
# Write SQL query to insert one student record
insert_one_record="""
INSERT INTO students (id, name, age, course)
VALUES (1, 'Ram', 21, 'Data Science')
"""

# Execute insert query
cursor.execute(insert_one_record)

# Commit changes
connection.commit()

## Parameterized Queries

Parameterized queries prevent SQL injection.

In [63]:
# Write insert query using placeholders (?)
insert_param_query="""
INSERT INTO students(id, name, age, course)
VALUES(?,?,?,?)
"""

# Pass values separately
cursor.execute(insert_param_query,(2, "Sita", 22, "Pythom"))

connection.commit()

## Inserting Multiple Rows

We can insert multiple records using executemany().

In [67]:
# Create list of multiple student records
students_data=[
   (3, "Hari", 24, "Python"),
   (4, "Laxman", 25, "data science"),
   (5, "Sita", 24, "Python"),
   (6, "Krishna", 20, "Machine Learning"),
]

# Write insert query with placeholders
insert_many_query="""
INSERT INTO students(id, name, age, course)
VALUES(?, ?, ?,?)
"""

# Use executemany()
cursor.executemany(insert_many_query, students_data)

# Commit changes
connection.commit()

## Fetching Data from Database

SELECT is used to retrieve records.

In [68]:
# Write select query to fetch all records
select_all_query=""" SELECT * from students"""

# Execute select query
cursor.execute(select_all_query)

# Fetch all rows
rows=cursor.fetchall()

# Print rows one by one
for row in rows:
    print(row)

(1, 'Ram', 21, 'Data Science')
(2, 'Sita', 22, 'Pythom')
(3, 'Hari', 24, 'Python')
(4, 'Laxman', 25, 'data science')
(5, 'Sita', 24, 'Python')
(6, 'Krishna', 20, 'Machine Learning')

## fetchone() vs fetchall()

In [69]:
# Fetch only one record using fetchone()
cursor.execute(select_all_query)
one_row=cursor.fetchone()
print(one_row)
# fetch all records using fetchall()

(1, 'Ram', 21, 'Data Science')

### Write select query with WHERE condition


### Execute and fetch filtered records

### Comparison Operators in SQL

- `=`
- `>`
- `<`
- `>=`
- `<=`

In [70]:
where_query="""SELECT * FROM students where age >22"""

cursor.execute(where_query)

rows=cursor.fetchall()
for row in rows:
    print(row)

(3, 'Hari', 24, 'Python')
(4, 'Laxman', 25, 'data science')
(5, 'Sita', 24, 'Python')

## ORDER BY Clause

Used to sort records in ascending or descending order.

In [81]:
# Write select query using ORDER BY age
order_query="SELECT * FROM students ORDER BY age DESC"

cursor.execute(order_query)
rows=cursor.fetchall()

for row in rows:
    print(row)

(4, 'Laxman', 25, 'data science')
(6, 'Krishna', 25, 'Data Science')
(3, 'Hari', 24, 'Python')
(5, 'Sita', 24, 'Python')
(2, 'Sita', 22, 'Pythom')

## UPDATE Statement

Used to modify existing records.

In [73]:
# Write update query using WHERE clause
update_query=""" 
UPDATE students
SET age=25
WHERE name='Krishna'
"""

# Execute update query
cursor.execute(update_query)

# Commit changes
connection.commit()

In [78]:
update_query="""
UPDATE students
SET course="Data Science"
WHERE name='Krishna'
"""

cursor.execute(update_query)

connection.commit()

## DELETE Statement

Used to remove records from table.

In [80]:
# Write delete query using WHERE condition
delete_query="""
DELETE FROM students
WHERE age<=21
"""

# Execute delete query
cursor.execute(delete_query)

# Commit changes
connection.commit()

In [ ]:
#ALTER/DROP

alter_add_column_query="""
ALTER TABLE students
ADD COLUMN email TEXT
"""

cursor.execute(alter_add_column_query)

connection.commit()



#DROP

drop_table_query="DROP TABLE IF EXISTS old_students "
cursor.execute(drop_table_query)
connection.commit()

## Why Commit is Important?

Without commit:
- Changes are temporary
- Data may be lost

In [ ]:
# Commit database changes

## Closing Database Connection

Always close connection to free resources.

In [84]:
# Close database connection
connection.close()

## SQL Injection

Never directly insert user input into SQL queries.

Always use parameterized queries.